<img class="demo" src="/assets/images/demo.png" alt="">
<div class="mn">
    <div class="outer">
        <div class="container"> 
          <h2 class="hey">Hey !</h2>
          <h6 class="do">"Do more of what makes you"</h6>
          <br><br>
          <h3 class="how">How are you?</h3>
          <div class="offset-md-1 col-lg-5 col-m-7 offset-1g-4 offset-md-3">
          <div class="row1">
              <div class="badly">
                <div class="panel border p-3 bg-white animate__animated animate__fadeIn emj"> 
                  <div class="content emoji">
                    <p class="e">😔<br>Badly</p></div></div></div>
              <div class="normal">
                      <div class="panel border p-3 bg-white animate__animated animate__fadeIn emj"> 
                        <div class="content emoji">
                          <p class="e">🙂<br>Normal</p></div></div></div>
              <div class="well">
                            <div class="panel border p-3 bg-white animate__animated animate__fadeIn emj"> 
                              <div class="content emoji">
                                <p class="e">😊<br>Well</p></div></div></div>
              <div class="excellent">
                                  <div class="panel border p-3 bg-white animate__animated animate__fadeIn emj"> 
                                    <div class="content emoji">
                                      <p class="e">🤩<br>Excelent</p></div></div></div></div></div>
                                      <mat-slider [min]="1" [max]="10" [step]="1" [value]="1">
                                        <input matSliderThumb>
                                      </mat-slider><br><br>
                                      <mat-form-field appearance="fill">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field><br><br>
                                     
                                      
             <br> <h3 class="how">For you today!</h3>
             <mat-tab-group>
              <mat-tab label="First"> Content 1 </mat-tab>
              <mat-tab label="Second"> Content 2 </mat-tab>
              <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group><br>
              <button id="goal" class="goal" routerLink="/login">Goal</button>
              <button id="blessings" class="goal" routerLink="/login">Blessings</button>
              <button id="community" class="goal" routerLink="/login">Community</button>

            <div class="row">
              <div class="offset-md-2 col-lg-5 col-m-7 offset-1g-4 offset-md-3">
                    <div class="panel border p-3 bg-white animate__animated animate__fadeIn"> 
    
    <div class="content" role="main">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
    <button id="b1" class="animate__animated animate__bounce btn btn-primary btn-block mt-5 w-100 animate__fadeInDown" routerLink="/login">Login</button>
    <button id="b2" class=" animate__animated animate__bounce btn btn-primary btn-block mt-5 w-100 animate__fadeInDown" routerLink="/signup">Signup</button>
    
    </div>
    </div></div></div></div></div></div>
  
<router-outlet> </router-outlet>
